##### Submission Details

To submit your work, you must complete each section of the project in a separate Jupyter Notebook. Each notebook must be visually appealing and properly documented. This means that you should include explanatory comments, use clear and readable code formatting, and incorporate any necessary visualizations or markdown to help convey your ideas. By following these guidelines, you can create a polished and professional project that will effectively showcase your skills and knowledge.

# <p style= font-size:30px;padding:15px><span style=color:blue;font-size:35px>Str</span><span style=color:green> Exercises.</p>

1. Create a string that says "python is powerful".

2. What is the length of the string?

3. Capitalize the string!!

4. Title case the string!!

5. Swap the case of the string!!

6. Count how many times the letter "o" appears in the string!!

7. Check if the string starts with "Python".

8. Check if the string ends with "powerful".

9. Split the string by spaces.

10. Replace all occurrences of "Python" in the string.

11. Concatenate the string with "and fun".

12. Join the list ["Python", "is", "fun"] into a string.

13. Remove any leading or trailing whitespace from the string " Python is awesome ".

14. Find the index of the letter "o" in the string "Python is awesome".

15. Check if the string "Python" is in the string "Python is awesome".

16. Extract the substring "is" from the string "Python is awesome".

17. Reverse the string "Python is awesome".

18. Insert the string "awesome" in the middle of the string "Python is ".

19. Extract the last 3 characters of the string "Python is awesome".

20. Remove the first character from the string "Python is awesome".

21. Remove the last character from the string "Python is awesome".

22. Replace the last occurrence of "o" in the string "Hello, world!" with "i".

23. Replace the first occurrence of "o" in the string "Hello, world!" with "i".

24. Convert the string "Python is awesome" to a list of characters.

25. Convert the list ["P", "y", "t", "h", "o", "n"] to a string.

26. Convert the string "Python is awesome" to a tuple of characters.

27. Swap the first and last characters of the string "Python is awesome".

28. Remove all punctuation from the string "Hello, world!".

29. Reverse the words in the string "Python is awesome".

30. Remove all whitespace from the string "Python is awesome".

31. Split the string "Python,Java,Ruby" by commas.

In [6]:
#String initialize
str1 = 'python is powerful'
#Find length of the string
str2 = len(str1)
print('length of str2 is:',str2)
#Capitalize the string
str3 = str1.capitalize()
print('Capitalize is:',str3)
#Title case the string
str4 = str1.title()
print('Title is:',str4)
#Swap the case of the string
str5 = str1.swapcase()
print('Swapcase is:',str5)
#Count how many times the letter "o" appears in the string
str6 = str1.count('o')
print('count of o is:',str6)
#Check if the string starts with "Python".
print(str1.startswith('python'))
#Check if the string ends with "powerful".
print(str1.endswith('powerful'))
#Split the string by spaces.
str7 = str1.split()
print('Split string is:',str7)
#Replace all occurrences of "Python" in the string.
str8 = str1.replace('powerful', 'good')
print('Replaced string is:',str8)
#Concatenate the string with "and fun".
str10 = 'and fun' 
str11 = ' '.join([str1, str10])
print('concatenated string is:',str11)
Join the list ["Python", "is", "fun"] into a string.

length of str2 is: 18
Capitalize is: Python is powerful
Title is: Python Is Powerful
Swapcase is: PYTHON IS POWERFUL
count of o is: 2
True
True
Split string is: ['python', 'is', 'powerful']
Replaced string is: python is good
concatenated string is: python is powerful and fun

# <p style= font-size:30px;padding:15px><span style=color:blue;font-size:35px>List</span><span style=color:green> Exercises.</p>

<ol>
<li>Create a list of integers and find the sum of all elements.</li>
<li>Create a list of strings and find the length of each string.</li>
<li>Sort a list of integers in ascending order.</li>
<li>Sort a list of integers in descending order.</li>
<li>Sort a list of strings in alphabetical order.</li>
<li>Sort a list of strings in reverse alphabetical order.</li>
<li>Find the maximum element in a list.</li>
<li>Find the minimum element in a list.</li>
<li>Find the second largest element in a list.</li>
<li>Find the second smallest element in a list.</li>
<li>Find the average of all elements in a list.</li>
<li>Find the median of all elements in a list.</li>
<!-- <li>Reverse a list using slicing.</li>
<li>Reverse a list using the `reverse()` method.</li> -->
<li>Concatenate two lists into a single list.</li>
<li>Split a string into a list of words.</li>
<li>Join a list of words into a single string.</li>

In [1]:
#Create a list of integers and find the sum of all elements.
list1 = [1,3,6,7,8]
# using sum() function
total = sum(list1)
# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  25

In [4]:
#Create a list of strings and find the length of each string.
l = ("xxxxxxxxx", "yyyy","zz")
# using for loop and length function
for i in l:
# printing lenth of the each string in the list
    print len(l[i])

SyntaxError: invalid syntax (2396523916.py, line 6)

In [11]:
#Sort a list of integers in ascending order.
list2=[3,6,9,2,4,0]
#using sort command
list2.sort()
# printing the sorted list
print(list2)

[0, 2, 3, 4, 6, 9]

In [13]:
#Sort a list of integers in descending order.
list3=[3,6,9,2,4,0]
#using sort command
list3.sort(reverse=True)
# printing the sorted list
print(list3)

[9, 6, 4, 3, 2, 0]

In [15]:
#Sort a list of strings in alphabetical order.
list5 = ['veni', 'is', 'a', 'good', 'person']
#using sort command
list5.sort()
# printing the sorted list
print('The sorted list in alphabetical order is:',list5)

The sorted list in alphabetical order is: ['a', 'good', 'is', 'person', 'veni']

In [16]:
# Find the maximum element in a list.

# list of numbers
list1 = [10, 20, 4, 45, 99]
 
 # printing the maximum element
print("Largest element is:", max(list1))

Largest element is: 99

In [17]:
# Find the minimum element in a list.

# list of numbers
list1 = [10, 20, 4, 45, 99]
 
 # printing the minimum element
print("smallest element is:", min(list1))

smallest element is: 4

In [18]:
#Find the second largest element in a list.

# Python program to find second largest number
# in a list
 
# List of numbers
list1 = [10, 20, 4, 45, 99]
 
# new_list is a set of list1
new_list = set(list1)
 
# Removing the largest element from temp list
new_list.remove(max(new_list))
 
# Elements in original list are not changed
# print(list1)
print(max(new_list))

45

In [19]:
#Find the second smallest element in a list.

# Python program to find second smallest number
# in a list
 
# List of numbers
list1 = [10, 20, 4, 45, 99]
 
# new_list is a set of list1
new_list = set(list1)
 
# Removing the smallest element from temp list
new_list.remove(min(new_list))
 
# Elements in original list are not changed
# print(list1)
print(min(new_list))

10

In [20]:
#Find the average of all elements in a list.

# Python program to get average of a list
 
# Driver Code
lst = [15, 9, 55, 41, 35, 20, 62, 49]
lst2= sum(lst) / len(lst)
 
# Printing average of the list
print("Average of the list =", lst2)

Average of the list = 35.75

In [21]:
#Find the median of all elements in a list.
# Python3 code to demonstrate working of
# Median of list
# Using loop + "~" operator
 
# initializing list
test_list = [4, 5, 8, 9, 10, 17]
 
# Median of list
# Using loop + "~" operator
test_list.sort()
mid = len(test_list) // 2
res = (test_list[mid] + test_list[~mid]) / 2
 
# Printing result
print("Median of list is : ", str(res))

Median of list is :  8.5

In [22]:
#Concatenate two lists into a single list.
list1 = [10, 11, 12, 13, 14] 
list2 = [20, 30, 42] 
print("list1 before concatenation:\n" + str(list1))
#Using extend command
list1.extend(list2) 
print ("Concatenated list i.e ,ist1 after concatenation:\n"+ str(list1))

list1 before concatenation:
[10, 11, 12, 13, 14]
Concatenated list i.e ,ist1 after concatenation:
[10, 11, 12, 13, 14, 20, 30, 42]

In [23]:
#Split a string into a list of words.
txt = "welcome to the jungle"
#using split function
x = txt.split()
#Print the words
print('The words in the string are',x)

The words in the string are ['welcome', 'to', 'the', 'jungle']

In [25]:
#Join a list of words into a single string.
#List is assigned
list=['veni','is','a','good','person']
#Using joing function
' '.join(list)

'veni is a good person'

# <p style= font-size:30px;padding:15px><span style=color:blue;font-size:35px>Tuple</span><span style=color:green> Exercises.</p>

1. Create a tuple of 5 integers and calculate the sum of all the elements.
2. Create a tuple of 5 strings and join them into a single string using the join() method.
3. Create a tuple of 5 elements and check if the number 7 is in the tuple using the in operator.
4. Create a tuple of 10 elements and count how many times the number 5 appears using the count() method.
5. Create two tuples of equal length and concatenate them into a single tuple using the + operator.
6. Create a tuple of 5 tuples where each tuple contains a name and an age. Sort the list by age in ascending order using the sorted() method with a lambda function as the key.
7. Create a tuple of 10 elements and convert it to a list using the list() function.
8. Create a tuple of 5 elements and unpack it into 5 separate variables.
9. Create a tuple of 10 elements and return the first 3 elements using slicing.
10. Create a tuple of 5 elements and swap the first and last elements.

In [1]:
#Create a tuple of 5 integers and calculate the sum of all the elements.
#  sum the elements of each tuple in a list of tuples

list_of_tuples = [(10, 20), (30, 40), (50, 60)]
#Using sum funtion for each of the item in the tuple
result_2 = [sum(t) for t in list_of_tuples]

print(result_2)  # [30, 70, 110]

[30, 70, 110]

In [4]:
#Create a tuple of 5 strings and join them into a single string using the join() method.
myTuple = ("John", "Peter", "Vicky","Veni","Mani")

#Using join function to join the strings in tuple
x = " ".join(myTuple)

print(x)

John Peter Vicky Veni Mani

In [6]:
#Create a tuple of 5 elements and check if the number 7 is in the tuple using the in operator.

tuple2 = (0,4,7,8,1)
#Check and print if the number 7 is in th tuple
print(7 in tuple2)    # True

True

In [8]:
#Create a tuple of 10 elements and count how many times the number 5 appears using the count() method.

my_tuple = (1,5,2,9,5,8,4,7,5,6)

print(my_tuple.count(5))  # prints 2

3

In [10]:
#Create two tuples of equal length and concatenate them into a single tuple using the + operator.

# Python code to demonstrate working of
# Ways to concatenate tuples
# using + operator
 
# initialize tuples
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6, 7)
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Ways to concatenate tuples
# using + operator
res = test_tup1 + test_tup2
 
# printing result
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6, 7)
The tuple after concatenation is : (1, 3, 5, 4, 6, 7)

In [ ]:
#Create a tuple of 5 tuples where each tuple contains a name and an age. Sort the list by age in ascending order using the sorted() method with a lambda function as the key.

In [14]:
#Create a tuple of 10 elements and convert it to a list using the list() function.

 
# List of tuple initialization
tup = [(1, 2), (3, 4), (5, 6),(0,4),(1.5,2.5),(0,1),(2,3),(7,8),(10,11),(12,13)]
 
# using sum function()
out = list(sum(tup, ()))
 
# printing output
print(out)

[1, 2, 3, 4, 5, 6, 0, 4, 1.5, 2.5, 0, 1, 2, 3, 7, 8, 10, 11, 12, 13]

In [16]:
#Create a tuple of 5 elements and unpack it into 5 separate variables.

#create a tuple
tuplex = 4,8,3,2,9
print(tuplex)
n1,n2,n3,n4,n5 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3 + n4 + n5) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3, n4, n5= tuplex 
print(n1,n2,n3,n4,n5)

(4, 8, 3, 2, 9)
26
4 8 3 2 9

In [17]:
#Create a tuple of 10 elements and return the first 3 elements using slicing.

# accessing tuple elements using slicing
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z','e')

# elements 2nd to 4th index
print(my_tuple[:3])  #  prints ('p', 'r', 'o')

('p', 'r', 'o')

In [ ]:
#Create a tuple of 5 elements and swap the first and last elements.